<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<table align="center">
        <tbody>
        <tr>
            <td class="leftColumn"><p><b>Expert username</b></p></td>
            <td class="rightColumn"><input id="expert-username"></td>
        </tr>
        <tr>
            <td class="leftColumn"><p><b>Expert password</b></p></td>
            <td class="rightColumn"><input id="expert-password" type="password"></td>
        </tr>
        <tr>
            <td class="leftColumn"><p><b>Application ID: </b></p></td>
            <td class="rightColumn"><input id="app-id" type="text"></td>
        </tr>
        </tbody>
</table>
<div id="patients-creds" align="center"><button id="login-button">Login</button></div>
</body>
<script type="text/javascript">

$("#login-button").click(function(){
    username = $('#expert-username').val();
    password = $('#expert-password').val();
    app_id = $('#app-id').val();
    auth_login(app_id, username, password);
});

function auth_login(app_id, username, password){
    $.ajaxSetup({
      contentType: "application/json; charset=utf-8"
<!--      headers : {'Origin':'https://'+app_id+'.pryv.me'}-->
    });

    url = "https://"+username+".pryv.me/auth/login";
    creds = {
        "username": username,
        "password": password,
        "appId": app_id
    }

    $.ajax({
        url: url,
        type: 'post',
        data: JSON.stringify(creds),
        headers: {'Origin':'https://'+app_id+'.pryv.me'},
        dataType: 'json',
        success: function (d) {
            token = d['token'];
            username = creds['username'];
            // append stream for patients
            $("#patients-creds").append(
            "<p>Create a stream dedicated to storing patient credentials:</p>" +
            "<p><textarea id='patients-stream' rows='10' cols='50'></textarea></p>"+
            "<p>Give a name for creating access for this stream: <textarea id='access-name' rows='1' cols='10'></textarea></p>"+
            "<p><button id='create-stream-access'>Create stream and access</button></p>"
            );
            $("#create-stream-access").click(function(){
                alert('clicked');
                stream = $('#patients-stream').val();
                create_stream_access(username, stream, token);
            });
        }
    });
}

function create_stream_access(username, stream, token){
    url = "https://"+username+".pryv.me/streams";
    console.log(token, typeof token);
    $.ajax({
        url: url,
        type: 'post',
        data: stream,
        headers: {"authorization": token},
        dataType: 'json',
        success: function (data) {
            stream = JSON.parse(stream)
            console.log('stream created successfully', stream, typeof stream);
            name = $("#access-name").val();
            data = {
                        "name": name,
                        "permissions": [{
                            "streamId": stream.id,
                            "level": "contribute"
                        }]
                   };
            create_access(username, data, token)
        }
    });
}

function create_access(username, data, token){
    url = "https://"+username+".pryv.me/accesses";
    console.log();
    $.ajax({
        url: url,
        type: 'post',
        data: JSON.stringify(data),
        headers: {"authorization": token},
        dataType: 'json',
        success: function (data) {
            console.info(data);
        }
    });
}

</script>
</html>
