<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
        <tbody>
        <tr>
            <td class="leftColumn"><p><b>Expert username</b></p></td>
            <td class="rightColumn"><input id="expert-username" type="username"></td>
        </tr>
        <tr>
            <td class="leftColumn"><p><b>Expert password</b></p></td>
            <td class="rightColumn"><input id="expert-password" type="password"></td>
        </tr>
        </tbody>
</table>
<div align="center"><button id="login-button">Login</button></div>
</body>
</html>