<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/request_semantics.js"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="back">
    <div class="div-center">
        <div class="content">
            <p><b>Setup semantics required from patient</b></p>

            <div class="form-group">
                <label for="requestingAppId"><b>Application ID</b> (min length: 6)</label>
                <input type="text" class="form-control" id="requestingAppId" value="app-web-access-test">
            </div>

            <p>Enter semantics that you wish to request from patients:</p>

            <div class="form-group">
                <label for="permissionsArea"><b>Requested semantics</b> (See <a href="http://api.pryv.com/reference/#authorizing-your-app" target="_blank">API doc</a>)</label>
                <textarea id="permissionsArea" rows="10" cols="50"></textarea>
            </div>
            <div class="form-group">
                <a href="https://pryv.com/terms-of-use/">Pryv's Terms of use</a>
            </div>

            <input type="checkbox" name="checkbox" value="check" id="agree_checkbox" /> I have read and agree to the Terms and Conditions of Pryv
            <br/>
            <input id="generate-link" align="center" type="submit" value="Generate link for patients"/>
            <div id="link_area" align="center"></div>
        </div>
    </div>
</div>
</body>
</html>
