

.back {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0;
}

.div-center {
    width: auto;
    height: auto;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

#pryvButtonHolder {
    height: 25px;
    padding: 10px;
    margin-left: 2px;
    width: calc(100% - 23px);
    background-color: #ABABAB;
    box-shadow: 0px 0px 4px #171817;
}

.pryv-access-btn {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #BD1727;
    border: 1px solid #9D0717;
    border-left-color: rgb(157, 7, 23);
    border-left-style: solid;
    border-left-width: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pryv-access-btn {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.pryv-access-btn-signin {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.topnav {
    overflow: hidden;
    background-color: #9b9c9d;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #9b9c9d;

 }

.footer a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    text-align: center;
}


